.WB-footer{
    background-color: var(--dda-surface-100);
    color: var(--dda-on-surface-variant-30);
}
.WB-footer .entt-logo{
    width: 135px;
}
.WB-footer .footer-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.WB-footer .footer-menu a{
    color: var(--dda-on-surface-variant-30);
}
.WB-footer .footer-menu a:hover{
    color: var(--dda-color-primary-40);
}
.WB-footer .line-seperater{
    border-bottom: solid 1px #E0E3E2;
    padding-top: 36px;
    padding-bottom: 36px;
}
.footer-social-icn{
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 992px) {
    .WB-footer .line-seperater{
        padding-top: 26px;
        padding-bottom: 26px;
    }
}